@import "src/styles/resources.scss";

.container {
  @include displayFlex(row, flex-start, center, 8px);
  width: fit-content;
  border-radius: toRem(12);
  border: 1px solid #dadce0;
  flex-wrap: wrap;

  &.single {
    border-radius: 12px 0 12px 0;
  }

  &.mutiple {
    border-radius: 0;
  }
}
