@import "src/styles/resources.scss";

.wrapper {
  min-width: toRem(345);
  display: flex;
  padding: toRem(20) toRem(30);
  flex-direction: column;
  align-items: flex-start;
  gap: toRem(10);
  border-radius: 12px;
  border: 1px solid #dadce0;
  background: #fff;

  .primaryText {
    @include typoGraphy(
      $fontFamily: $font-family-inter,
      $fontWeight: 600,
      $fontSize: 14px,
      $lineHeight: normal,
      $letterSpacing: 0px,
      $color: $text-color
    );
  }

  .secondaryText {
    @include typoGraphy(
      $fontFamily: $font-family-inter,
      $fontWeight: 500,
      $fontSize: 12px,
      $lineHeight: normal,
      $letterSpacing: 0px,
      $color: #8da4bf
    );
  }

  .subWrapper {
    width: 100%;
    @include displayFlex(row, space-between, flex-start, 8px);

    .primaryWrapper {
      width: 100%;
      @include displayFlex(row, flex-start, flex-start, 8px);

      .primary {
        @include displayFlex(column, flex-start, flex-start, 8px);

        .upper {
          @include displayFlex(row, space-between, center, 8px);

          .divider {
            height: 20px;
          }
          .schedule {
            @include displayFlex(row, space-between, center, 8px);
          }
        }
      }
    }
  }

  .secondary {
    @include displayFlex(row, space-between, center, 8px);

    .secondarySubWrapper {
      @include displayFlex(column, flex-start, flex-start);
    }
  }
}
