@import "src/styles/resources.scss";

.container {
  display: flex;
  max-width: toRem(315);
  min-height: toRem(1074);
  padding: toRem(40) toRem(20) toRem(10) toRem(20);
  flex-direction: column;
  align-items: flex-start;
  gap: toRem(10);
  background: #f2f8fe;

  .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    @include typoGraphy($font-family-inter, 500, 14px, 140%, 0px, $text-color);
  }

  .primaryContents,
  .secondaryContents {
    width: 100%;

    .content {
      display: flex;
      max-height: toRem(50);
      padding: toRem(10);
      align-items: center;
      gap: toRem(10);
      align-self: stretch;
    }

    .active {
      &.text {
        color: #0073e6;
      }
      border-radius: 8px;
      border: 1px solid #0073e6;
      background: #e5f1fc;
    }
  }
}
